@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    overflow-y: hidden;
    height: 100%;
}

.sel, .sel * {
    -webkit-user-select: initial !important;
    -moz-user-select: initial !important;
    -o-user-select: initial !important;
    -ms-user-select: initial !important;
    user-select: initial !important;
}

#contador {
    visibility: hidden;
}

#conteinerAd {
    display: inline-block;
    width: 468px;
    height: 60px;
    position: absolute;
    bottom: 2px;
    left: 10px;
}

#conteinerPrincipal {
    background-image: url(https://lh3.googleusercontent.com/-VYNDCEUg5h4/WjR3f8U36DI/AAAAAAAAJwc/HDaRaJixzzYAth2Bk0pG3alwgqWilbqBgCHMYCw/fundo%255B3%255D?imgmax=800);
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    width: 700px;
    height: 346px;
    padding-left: 7px;
    padding-top: 6px;
}

#peloAtual {
    float: left;
    height: 327px;
    width: 233px;
    position: relative;
    visibility: hidden;
}

#peloAtual canvas {
    border-radius: 6px;
}

#corAtual {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border-radius: 2px;
    border: 1px solid black;
    cursor: crosshair;
    transition: background 0.2s ease-out;
}

#listaPelos {
    overflow-y: auto;
    height: 327px;
    margin-right: 16px;
    margin-top: 3px;
}

.sepH {
    width: 1px;
    background-color: #11181C;
    border-right: 1px solid #608599;
    height: 93.6%;
    margin-top: 5px;
    float: left;
}

#listaPelos .pelo {
    visibility: hidden;
    opacity: 0;
    display: inline-block;
    margin: 6px;
    transition: opacity 0.6s ease-out;
    cursor: pointer;
    width: 72px;
    height: 72px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#listaPelos .pelo:hover {
    background-size: cover;
}

#listaPelos .pelo .img-pelo {
    max-width: 72px;
}

#listaPelos .pelo .img-desenho {
    max-width: 200px;
    max-height: 200px;
    display: none;
}

#peloAtual p {
    font-family: 'Open Sans Light', Arial;
    font-size: 11px;
    color: white;
    font-weight: bold;
    margin-left: 4px;
   -webkit-font-smoothing: antialiased;
   cursor: default;
}

#peloAtual input {
    border: 1px solid #0e242d;
    border-radius: 2px;
    font-family: Open Sans;
    width: 50%;
    padding-left: 2px;
    padding-right: 2px;
    outline: 0;
    float: left;
}

#peloAtual input::selection {
  background: #ADD8E6; /* WebKit/Blink Browsers */
}
#peloAtual input::-moz-selection {
  background: #ADD8E6; /* Gecko Browsers */
}

#peloAtual .cor {
    height: 22px;
    width: 22px;
    float: left;
    margin-right: 1px;
}